.Post-form {
  width: 50%;
}

.Post-form-textarea textarea {
  margin: 30px 0 0 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  min-height: 200px;
  white-space: pre-wrap;
}

.Post-form-textarea {
  display: flex;
  flex-direction: column;
}

.Post-form-image input {
  color: black;
}

.Post-form-image input,
.Post-form-title input {
  height: 40px;
}

.Post-form-image,
.Post-form-title,
.Post-form-textarea {
  margin-top: 25px;
}

.Post-form-error-msg {
  margin-top: 5px;
  font-size: 0.7em;
  color: #234761;
  font-weight: 600;
}

.Post-form button {
  background-color: #03a9f4;
}
.Post-form button:hover {
  background-color: #0288d1;
}
