.PageLayoutLight {
  min-height: 100vh;
  background-color: #eff1f6;
  overflow: auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* justify-content: end; */
  padding: 0 20px;
  align-content: flex-start;
  justify-content: space-between;
}
