.Post{
    width:45%;
    background:white;
    border-radius: 5px;
    padding:10px 10px 20px 15px;
    margin: 20px 10px 30px 0px;
    
}

.Post-pseudo{
    margin-top:20px;
    color: #212121;
    font-size: 0.8em;
    text-transform: uppercase;
    /* padding-left: 25px; */
}

.Post-title{
    font-size: 1em;
    /* width: 100%; */
/*  
    padding-left: 25px; */
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    /* height: 25px; */

}
.Post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.Post-bottom{
   display:flex;
   justify-content:space-between;
   border-bottom: 2px solid #eff1f6;
   align-items: center;

     
    
}
.Post-bottom-notation{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-right:20px
     
 }
.Post-bottom-notation img{
    width:20px;
    height:20px;
    margin-right:5px
     
 }

 .Post-bottom-notation-wrapper{
    display:flex;
    justify-content:space-between;
    align-items: center;
  
 }
