button {
  background: #fd2d01;
  background: #1fab89;
  min-width: 150px;
  height: 30px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 55px;
  align-self: center;
}

.Form-forgot-content {
  text-align: center;
}

.Form-forgot-msg {
  display: flex;
  flex-direction: column;
}

.Form-forgot-error-msg {
  margin-top: 5px;
  font-size: 0.7em;
  color: #234761;
  font-weight: 600;
}
.Form-forgot {
  width: 490px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  /* width:380px; */

  border-radius: 5px;
  background-color: white;
  animation: show 1.1s;
  border: 1px solid transparent;
  border-radius: 10px;

  background: #fafafa;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  margin: 100px;
}

.Form-forgot-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: url(../../assets/shop_test.jpg);
}
.Form-forgot-content h2 {
  color: #1fab89;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.6em;
}
.Form-forgot-content p {
  color: #212121;
  font-size: 0.8em;
  font-family: "Lato", sans-serif;
}

.Form-forgot-input {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  height: 40px;
  background: transparent;
  outline: none;
  border: 0px;
  border-bottom: 1px solid #212121;
}
