.Nav {
  width: 80px;
  height: 100vh;
  background: white;
  padding: 30px 0;
}

.Nav-icon-posts , .Nav-icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Nav-icon-posts img {
  width: 30px;
}
.Nav-icons img{
    width: 20px;
    padding:25px 0px
  }
  .Nav-icons{
  margin-top:60px
  }