.Link{
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    height:100px;
    /* border-radius:5px; */
    /* width:100% */
padding-right:10px;
    width:29%;
    height:50px;
    cursor:pointer
}

.Link:hover{
    opacity: 0.8;
    transform:scale(1.02)
}
.Link-icon{
    /* background:#FC72A5 ; */
    opacity: 0.5;
    height:44px;
    display:flex;
    align-items: center;
    border-radius:0px 5px 5px 0px;
}
.Link img{
    width: 20px;
    height:20px;
    padding: 0 10px;
  
}

.Link-name{
    width:150px;
    /* background:#FC72A5 ; */
    border-radius:5px 0px 0px 5px;
    margin:0;
    height:44px;
    display:flex;
    align-items: center;
}

.Link-name p{
    padding: 0 10px;
    color:white;
    font-size:0.9em;
}