.Link {
  display: flex;
  align-items: center;
  height: 100px;
  padding-right: 10px;
  width: 29%;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
 

}
 #Links-post{
    animation:blink 2s infinite;
}
.Link:hover {
  opacity: 0.8;
  transform: scale(1.02);
}


@media all and (min-width: 375px) and (max-width: 1100px) {
    .Link{
      width:100%;
     
    }
  }
.Link-icon {
  /* background:#FC72A5 ; */
  opacity: 0.5;
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}
.Link img {
  width: 20px;
  height: 20px;
  padding: 0 10px;
  
}

.Link-name {
  width: 150px;
  width:100%;
  /* background:#FC72A5 ; */
  border-radius: 5px 0px 0px 5px;
  margin: 0;
  height: 44px;
  display: flex;
  align-items: center;
  
}


.Link-name p {
  padding: 0 10px;
  color: white;
  font-size: 0.8em;

}


  @keyframes blink {
    0% {
      opacity: 1;
    }
    20% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }